<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cardo&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="nav">
      <a href="/#work"><span class="nav-item">Work</span></a>
      <a href="https://www.linkedin.com/in/rachel-bell-a2459046/detail/recent-activity/posts/"><span class="nav-item">Blog</span></a>
      <a href="https://www.linkedin.com/in/rachel-bell-designs/"><span class="nav-item">Contact</span></a>
    </div>
    <div class="logo">
      <img src="images/logo.svg">
    </div>
    <div class="social-set">
      <a href="https://www.linkedin.com/in/rachel-bell-designs/"><img class="social-icon" src="images/linkedin.svg"></a>
      <a href="http://dribbble.com/rachelbell"><img class="social-icon" src="images/dribbble.svg"></a>
      <a href="http://www.instagram.com/rachelbelldesigns/"><img class="social-icon" src="images/instagram.svg"></a>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <div class="footer-logo">
      <img class="logo-large" src="images/logo-large.svg">
      <p class="copyright">© 2025 Rachel Bell.<br>All rights reserved.</p>
    </div>
    <div class="footer-nav">
      <a href="/#work"><span class="nav-item">Work</span></a>
      <a href="https://www.linkedin.com/in/rachel-bell-a2459046/detail/recent-activity/posts/"><span class="nav-item">Blog</span></a>
      <a href="https://www.linkedin.com/in/rachel-bell-designs/"><span class="nav-item">Contact</span></a>
    </div>
    <div class="get-in-touch">
      <span class="email-title">Get in touch</span>
      <p class="email">rachelbelldesigns@gmail.com</p>
    </div>
    <div class="footer-socials">
      <span class="social-title">Social media</span>
      <div class="social-set">
        <a href="https://www.linkedin.com/in/rachel-bell-designs/"><img class="social-icon" src="images/linkedin.svg"></a>
        <a href="http://dribbble.com/rachelbell"><img class="social-icon" src="images/dribbble.svg"></a>
        <a href="http://www.instagram.com/rachelbelldesigns/"><img class="social-icon" src="images/instagram.svg"></a>
      </div>
    </div>
  </footer>
</body>
</html>
