{% extends "_template.html" %}

{% block title %}Home page{% endblock %}

{% block content %}

<div class="hero">
    <img class="tulip" src="images/tulip.svg">
    <img class="flower" src="images/flower.svg">
    <img class="diamond-orange" src="images/diamond-orange.svg">
    <img class="diamond-blue" src="images/diamond-blue.svg">
    <img class="semi-circle" src="images/semi-circle.svg">
    <img class="star" src="images/star.svg">

    <div class="title">
        <h1><span class="h1-italic">Hey!</span> I'm Rachel Bell.</h1>
        <p>I'm a Senior Product Designer based in Sydney, Australia.</p>
    </div>
</div>

<div class="description-images-container">
    <div class="description">
        <p>I specialise in UI/UX design (web, iOS and Android), design systems, art direction, and digital branding and marketing.</p>
        <p>I also enjoy being creative in other ways: photography, illustration, crochet, painting, writing, acoustic guitar and baking.</p>
    </div>

    <img class="stylescape" src="images/stylescape.png">
    <img class="crochet-carlos" src="images/crochet-carlos.png">
    <img class="duck" src="images/duck.png">
    <img class="ordermentum" src="images/ordermentum.png">
    <img class="crochet-mate" src="images/crochet-mate.png">
</div>

{% endblock %}
