{% extends "_template.html" %}

{% block title %}Rachel Bell | Design Portfolio{% endblock %}

{% block content %}

<div class="hero">
    <img class="tulip" src="images/tulip.svg" alt="">
    <img class="flower" src="images/flower.svg" alt="">
    <img class="diamond-orange" src="images/diamond-orange.svg" alt="">
    <img class="diamond-blue" src="images/diamond-blue.svg" alt="">
    <img class="semi-circle" src="images/semi-circle.svg" alt="">
    <img class="star" src="images/star.svg" alt="">

    <div class="title">
        <h1><span class="h1-italic">Hey!</span> I'm Rachel Bell.</h1>
        <p>I'm a Senior Product Designer based in Sydney, Australia.</p>
    </div>
</div>

<div class="description-images-container">
    <div class="description">
        <p>I specialise in UI/UX design (web, iOS and Android), design systems, art direction, and digital branding and marketing.</p>
        <p>I also enjoy being creative in other ways: photography, illustration, crochet, painting, writing, acoustic guitar and baking.</p>
    </div>

    <div class="img-hover-zoom zoom-stylescape">
        <img class="stylescape" src="images/stylescape.png" alt="Collage of brand moodboards.">
    </div>
    <div class="img-hover-zoom zoom-carlos">
        <img class="crochet-carlos" src="images/crochet-carlos.png" alt="Crocheted doll of Formula One driver Carlos Sainz.">
    </div>
    <div class="img-hover-zoom zoom-duck">
        <img class="duck" src="images/duck.png" alt="Illustration of a colourful duck.">
    </div>
    <div class="img-hover-zoom zoom-ordermentum">
        <img class="ordermentum" src="images/ordermentum.png" alt="Illustration of groceries falling out of a phone.">
    </div>
    <div class="img-hover-zoom zoom-crochet-mate">
        <img class="crochet-mate" src="images/crochet-mate.png" alt="Phone mockup of CrochetMate app.">
    </div>
</div>

<div id="work" class="case-studies">
    <div class="case-study-row">
        <div class="case-study-content lavender-bg">
            <p class="case-study-title text-black">Digitec Galaxus</p>
            <p class="case-study-subtitle text-black">Leading a design system website restructure initiative for the largest online retailer in Switzerland.</p>
            <a href="galaxus.html" class="button btn-green">Read case study</a>
        </div>
        <img src="images/home-galaxus.png" alt="Laptop mockup of Digitec Galaxus Design System.">
    </div>
    <div class="case-study-row">
        <img src="images/home-ordermentum.png" alt="Phone mockups of Ordermentum app.">
        <div class="case-study-content salmon-bg">
            <p class="case-study-title text-black">Ordermentum</p>
            <p class="case-study-subtitle text-black">A fresh new brand and design system for Australia’s largest community of suppliers and venues.</p>
            <a href="ordermentum.html" class="button btn-red">Read case study</a>
        </div>
    </div>
    <div class="case-study-row">
        <div class="case-study-content cherry-bg">
            <p class="case-study-title text-cream">Vodafone</p>
            <p class="case-study-subtitle text-cream">Managing a team to build a new design system for a huge tech-led website refresh.</p>
            <a href="vodafone.html" class="button btn-pink">Read case study</a>
        </div>
        <img src="images/home-vodafone.png" alt="Phone and tablet mockups of Vodafone homepage.">
    </div>
    <div class="case-study-row">
        <img src="images/home-mygov.png" alt="Laptop mockup of MyGov Beta dashboard.">
        <div class="case-study-content blue-bg">
            <p class="case-study-title text-cream">myGov Beta</p>
            <p class="case-study-subtitle text-cream">Building foundations and establishing best practices for multiple digital teams for the Australian government.</p>
            <a href="mygov.html" class="button btn-green">Read case study</a>
        </div>
    </div>
    <div class="case-study-row">
        <div class="case-study-content bubblegum-bg">
            <p class="case-study-title text-black">Childhood Cancer Support</p>
            <p class="case-study-subtitle text-black">An information architecture and UX refresh to help inform and support families in need.</p>
            <a href="ccs.html" class="button btn-red">Read case study</a>
        </div>
        <img src="images/home-ccs.png" alt="Laptop mockup of Childhood Cancer Support homepage.">
    </div>
</div>

{% endblock %}
